@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
    font-size: 1.2em;
}

/* code from kirianworkspace.com */
body {
    text-align:center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
   .wrapper{
    flex:1;
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-decoration: underline;
}

header {
    background-color: #3a3a3a;
    overflow: auto;
}

#main-header {
    margin-left: 30px;
    float: left;
    color: white;
}

#header-img {
    clear: both;
}

/* navigation links */

.nav-bar {
    float: right;
    color: white;
}

.active {
    font-weight: 900;
    font-size: 120%;
}

.nav-bar li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    text-align: center;
}

.nav-bar, #main-header {
    line-height: 75px;
}

header a {
    text-decoration: none;
    color: white;
}

.nav-bar a:hover {
    border-bottom: 1px solid white;
}

/* header image */

#header-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header-image {
    height: 600px;
    width: 100%;
    background: url('../images/header-img.jpg') no-repeat center center;
}

/* footer */

footer {
    background-color: #3a3a3a;
    height: 75px;
}

#social-media {
    text-align: end;
    padding-top: 20px;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 250%;
    line-height: 37px;
    color: white;
    margin-right: 50px;
}

#social-media a:hover {
    font-size: 120%;
}

.form-footer {
    float: left;
    line-height: 75px;
}

.form-footer a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.form-footer a:hover {
    border-bottom: 1px solid white;
}

/* index.html style */

.welcome {
    text-align: center;
    margin:auto;
    width: 85%;
}

.welcome h2 {
    padding-top: 50px;
    font-size: 200%;
}

.welcome p {
   padding:15px 0 30px;
}

.welcome-heading {
    margin-top: 50px;
}

.welcome-left {
    float: left;
    width: 33%;
    padding-top: 50px;
    margin-left: 15px;
}

.welcome-right {
    float: right;
    width: 33%;
    padding-top: 50px;
    margin-right: 15px;
}

.welcome-center{
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.welcome-left h2 {
    text-align: center;
    padding: 25px 0 15px;
}

.welcome-right h2 {
    text-align: center;
    padding: 25px 0 15px;
}

.welcome-right p {
    text-align: center;
}

.welcome-left p {
    text-align: center; 
}

.welcome-center img {
    border-radius: 75%;
    margin-bottom: 50px;
}

/* get-started.html style */

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.get-started, .get-started-pros, .get-started-img {
    width: 100%;
    height: 100%;
}

.get-started {
    width: 100%;
    margin-left: 50px;
 }

.get-started-img {
    width: 33%;
    margin-left: 15px;
}

.get-started-pros {
    width: 33%;
    margin-left: 15px;
}

.get-started-img img {
    border-radius: 75%;
    width: 350px;
    height: auto;
    margin-top: 40px;

}

.get-started-heading {
    padding-top: 50px;
    padding-bottom: 15px;
}

.get-started-pros li {
    padding-bottom: 15px;
    list-style-position: inside;
    list-style-type: circle;
    text-align: left;
}

/* inspiration.html style */

.inspiration-person, .inspiration-img {
    width: 100%;
    height: 100%;
}

.inspiration-person {
    width: 100%;
}

.inspiration-img {
    width: 33%
}

.inspiration-heading {
    padding-bottom: 15px;
}

.inspiration-img img {
    width: 250px;
    height: auto;
    border-radius: 75%;
}

.inspiration-socials li {
    font-size: 500%;
    list-style-type: none;
}

.inspiration-socials i {
    color: #3a3a3a;
}

/* newsletter.html style inspired alot from love running challenge */

.form-section {
    background: url('../images/form-background.jpg');
    background-size: cover;
    background-position: center;
    
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: left;
    position: absolute;
    left: 10%;
    padding: 20px;
    max-width: 600px;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: white;
}

.text-input {
    background: white;
    color: #3a3a3a;
    height: 30px;
    margin: 5px 0 20px;
    width: 100%;
}

.text-input:hover {
    font-size: .9em;
}

.button {
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size:.9em;
    background-color: #3a3a3a;
    color: white;
    display:block;
}

.button:hover {
    background-color: white;
    color: #3a3a3a;
}

.button-reset {
    margin-top: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size:1em;
    background-color: #3a3a3a;
    color: white;
}

.button-reset:hover {
    background-color: red;
}

/* signed up style */

.signed-up {
    padding-top: 150px;
    text-decoration: none;
}

.signed-up-img img {
    width: 50%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 404 page */

.error-wrapper {
    background: url('../images/form-background.jpg');
    background-size: cover;
    background-position: center;
}

.error {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    position: absolute;
}

.error-heading {
    font-size: 1.5em;
    padding-top: 50px;
}

.error h3 {
    font-size: 1.2em;
}

 /* Media queries */

 /* For screens up to 1300px wide and down*/

 @media screen and (max-width: 1300px) {
    .welcome {
        width: 85%;
    }

    .welcome-left {
        width: 45%;
    }

    .welcome-right {
        width: 45%;
    }

    .get-started {
        width:100%;
    }
    
    .get-started-img {
        width: 50%;
    }
    
    .get-started-pros {
        width: 50%;
        margin-left: 15px;
    }
    
    .inspiration-person {
        width: 100%;
    }
    
    .inspiration-img {
        width: 50%
    }
}

 /* For screens up to 850px wide and down*/

 @media screen and (max-width: 850px) {
    .nav-bar {
        float: left;
        margin-left: 15px;
    }

    #main-header {
        margin-left: 15px;
    }

    #social-media i {
        font-size: 250%;
        color: white;
        margin-right: 15px;
    }

    .welcome {
        width: 90%;
    }

    .welcome-center{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }
    .welcome-left {
        float: none;
        text-align: center;
        margin:auto;
        width: 85%;
    }

    .welcome-right {
        float: none;
        text-align: center;
        margin:auto;
        width: 85%;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }
      
    .get-started {
        margin-left: 15px;     
    }

    .get-started p {
        margin-right: 15px;
    }

    .inspiration-img {
        padding-top: 50px;
        margin-left: 30%;
    }

    .inspiration-socials{
        padding-top: 50px;
       
    }

    .signed-up {
        padding-top: 150px;
        text-decoration: none;
        font-size: 1.5em;
    }

    .signed-up-img img {
        width: 75%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}  

    /* For screens up to 550px wide and down */

@media screen and (max-width: 550px) {
    footer {
        height: 150px;
    }

    .form-footer {
    float: right;
    margin-right: 15px;
    }

    #social-media {
        float: right;
    }
}    

    /* For screens up to 425px wide and down */

 @media screen and (max-width: 425px) {
    #main-header {
        font-size: 1.2em;
    }

    .nav-bar li {
        font-size: .8em;
    }

    .welcome h2 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.2em;
    }
    .welcome-center img {
        width: 85%;
        height: auto;
    }

    .get-started-img img {
        width: 250px;
        height: auto;
    }

    .inspiration-img {
        padding-top: 50px;
        margin-left: 15px;
    }

    .inspiration-socials{
        padding-top: 50px;
        margin-left: 75px;
    }
 }