@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto slab, sans-serif;
    font-weight: lighter;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-decoration: underline;
}

header {
    background-color: #3a3a3a;
    overflow: auto;
}

#main-header {
    margin-left: 30px;
    float: left;
    color: white;
}

#header-img {
    clear: both;
}

/* navigation links */

#nav-bar {
    font-size: 110%;
    float: right;
    color: white;
}

.active {
    font-weight: 900;
}

#nav-bar li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    text-align: center;
    color: white;
}

#nav-bar, #main-header {
    line-height: 75px;
}

header a {
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    border-bottom: 1px solid white;
}

/* header image */

#header-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header-image {
    height: 600px;
    width: 100%;
    background: url('../images/header-img.jpg') no-repeat center center;
}

/* footer */

footer {
    background-color: #3a3a3a;
    height: 75px;
    clear: both;
}

#social-media {
    text-align: center;
    padding-top: 20px;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 250%;
    color: white;
    margin-right: 50px;
}

/* index.html content */

.welcome {
    text-align: center;
}

.welcome h2 {
    padding: 15px 0;
    font-size: 200%;
}

.welcome-left {
    float: left;
    width: 33%;
    padding-top: 50px;
    padding-left: 50px;
}

.welcome-right {
    float: right;
    width: 33%;
    padding-top: 50px;
    padding-right: 50px;
    text-align: left;
}

.welcome-center{
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.welcome-left h2 {
    text-align: center;
    padding-top: 25px;
}

.welcome-right h2 {
    text-align: center;
    padding-top: 25px;

}

.welcome-right p {
    text-align: center;
    padding-top: 15px;
}

.welcome-left p {
    text-align: center;
    padding-top: 15px;
}

/* get-started.html content */

.welcome {
    margin:auto;
    width: 33%;
}

.welcome h2 {
    padding-top: 50px;
}

.welcome p {
    padding-top: 25px;
    padding-bottom: 30px;
}

.get-started-heading {
    padding-bottom: 15px;
}

.get-started-pros h2 {
    margin-left: 15px;
}

.get-started-pros li {
    padding-bottom: 15px;
    margin-left: 15px;
    list-style-position: inside;
    list-style-type: circle;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px;
}

.get-started-pros, .get-started, .get-started-img {
    width: 100%;
    height: 100%;
}

.get-started-pros {
    width:33%;
    
 }

.get-started {
    width:33%;
 }

.get-started-img {
    width:33%;
}

