@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
    font-size: 1.2em;
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-decoration: underline;
}

header {
    background-color: #3a3a3a;
    overflow: auto;
}

#main-header {
    margin-left: 30px;
    float: left;
    color: white;
}

#header-img {
    clear: both;
}

/* navigation links */

.nav-bar {
    float: right;
    color: white;
}

.active {
    font-weight: 900;
}

.nav-bar li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    text-align: center;
}

.nav-bar, #main-header {
    line-height: 75px;
}

header a {
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    border-bottom: 1px solid white;
}

/* header image */

#header-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header-image {
    height: 600px;
    width: 100%;
    background: url('../images/header-img.jpg') no-repeat center center;
}

/* footer */

footer {
    background-color: #3a3a3a;
    height: 75px;
    clear: both;
    margin-top: 150px;
}

#social-media {
    text-align: end;
    padding-top: 20px;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 250%;
    color: white;
    margin-right: 50px;
}

/* index.html content */

.welcome {
    text-align: center;
    margin:auto;
    width: 50%;
}

.welcome h2 {
    padding-top: 50px;
    font-size: 200%;
}

.welcome p {
   padding:15px 0 30px;
}

.welcome-heading {
    margin-top: 50px;
}

.welcome-left {
    float: left;
    width: 33%;
    padding-top: 50px;
    margin-left: 15px;
}

.welcome-right {
    float: right;
    width: 33%;
    padding-top: 50px;
    margin-right: 15px;
}

.welcome-center{
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.welcome-left h2 {
    text-align: center;
    padding: 25px 0 15px;
}

.welcome-right h2 {
    text-align: center;
    padding: 25px 0 15px;
}

.welcome-right p {
    text-align: center;
}

.welcome-left p {
    text-align: center; 
}

.welcome-center img {
    border-radius: 75%;
}

/* get-started.html content */

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.get-started, .get-started-pros, .get-started-img {
    width: 100%;
    height: 100%;
}

.get-started {
    width:33%;
    margin-left: 50px;
 }

.get-started-img {
    width: 33%;
    margin-left: 15px;
}

.get-started-img img {
    border-radius: 75%;
    width: 350px;
    height: auto;
    margin-top: 40px;

}

.get-started-pros {
    width: 33%;
}

.get-started-heading {
    padding-top: 50px;
    padding-bottom: 15px;
}

.get-started-pros li {
    padding-bottom: 15px;
    list-style-position: inside;
    list-style-type: circle;
}

/* inspiration.html content */

.inspiration-person, .inspiration-img, .inspiration-social {
    width: 100%;
    height: 100%;
}

.inspiration-person {
    width: 33%;
}

.inspiration-img {
    width: 33%
}

.inspiration-heading {
    padding-bottom: 15px;
}

.inspiration-img img {
    width: 250px;
    height: auto;
    border-radius: 75%;
}

.inspiration-socials li {
    font-size: 500%;
    list-style-type: none;
}

.inspiration-socials i {
    color: #3a3a3a;
}

 /* Media queries */

 /* For screens up to 1300px wide and down*/

 @media screen and (max-width: 1300px) {
    .welcome {
        width: 85%;
    }

    .welcome-left {
        width: 45%;
    }

    .welcome-right {
        width: 45%;
    }

 }

 /* For screens up to 850px wide and down*/

 @media screen and (max-width: 800px) {
    .nav-bar {
        float: left;
        margin-left: 15px;
    }

    #main-header {
        margin-left: 15px;
    }

    .welcome {
        width: 100%;
    }

    .welcome-center{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }
    .welcome-left {
        float: none;
        text-align: center;
        margin:auto;
        width: 85%;
    }

    .welcome-right {
        float: none;
        text-align: center;
        margin:auto;
        width: 85%;
    }
}

 /* For screens up to 425px wide and down*/

 @media screen and (max-width: 425px) {
    #main-header {
        font-size: 1.2em;
    }
    .nav-bar li {
        font-size: .8em;
    }
 }